<h1>Hot trips</h1>


  <div class="container summer">

    <!-- Three columns of text below the carousel -->

    <div class="row">

      <div  class="col-lg-6" >

        <img class="navbar-item" id="foto1"  src="assets/img/hotel.png"  alt = "Generic placeholder image"

        width="140"  height= "140">

        <h2 class="bg-danger .d-print-inline">price</h2>

        <h3>Austria - Kreischberg </h3>

        <p>Lorem </p>

        <p><a class  ="btn btn-default" href="https://www.codefactory.wien/courses-programs/"   role="button">View details &raquo;</a></p>

      </div>

      <!-- /.col-lg-4 -->

      <div class="col-lg-6" >

        <img class="navbar-item" id="foto2" src="assets/img/plane.png"  alt = "Generic placeholder image"

          width="140"  height= "140">

        <h2>Transportation</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis possimus facilis incidunt, quibusdam eius inventore tempore? Perferendis, blanditiis alias architecto inventore, enim dolore impedit illum doloremque eveniet, obcaecati labore molestias.</p>

        <p><a  class ="btn btn-default" href= "https://www.codefactory.wien/courses-programs/"   role="button" >View details &raquo; </a></p>

      </div>
    </div>
    <div class="row">

      <!-- /.col-lg-4 -->

      <div class="col-lg-6"  >

        <img class="navbar-item" id="foto3" src="assets/img/people.png"  alt = "Generic placeholder image"

        width="140"  height= "140">

        <h2>Agents</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus odio consequuntur illum nostrum numquam aspernatur, tenetur voluptatibus voluptates sit nihil, sapiente similique quas reprehenderit impedit expedita ex. Quod, optio debitis?</p >

        <p><a class ="btn btn-default"  href="https://www.codefactory.wien/courses-programs/"   role="button">View details &raquo;</ a ></p>

      </div>

      <!-- /.col-lg-4 -->

      <div class="col-lg-6"  >

        <img class="navbar-item"  id="foto4" src="assets/img/star.png"  alt = "Generic placeholder image"

        width="140"  height= "140">

        <h2>Trip Planning</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem et, similique voluptatum incidunt dolor magni sunt! Hic ea, doloremque, recusandae beatae assumenda, nesciunt ullam ipsam maiores suscipit enim deleniti perferendis!</p >

        <p><a class ="btn btn-default"  href="https://www.codefactory.wien/courses-programs/"   role="button">View details &raquo;</ a ></p>

      </div>

    </div>

    <!-- /.row -->

    </div>