<h1>Hot trips</h1>


  <div class="container summer">

    <!-- Three columns of text below the carousel -->

    <div class="row">

      <div  class="col-lg-6 foto1" >

        <span class="badge badge-danger">750 EUR/Week</span>

        <br> <br><br> <br><br> <br><br> <br>
        <h3>Austria - Kreischberg </h3>


        <p><a class  ="btn btn-default" href="https://www.codefactory.wien/courses-programs/"   role="button">View details &raquo;</a></p>

      </div>

      <!-- /.col-lg-4 -->

      <div class="col-lg-6 foto2" >
        <span class="badge badge-danger">350 EUR/Week</span>
  
        <br> <br><br> <br><br> <br><br> <br>
          <h3>Italy  </h3>

     

        <p><a  class ="btn btn-default" href= "https://www.codefactory.wien/courses-programs/"   role="button" >View details &raquo; </a></p>

      </div>

    </div>

    <div class="row">

      <!-- /.col-lg-4 -->

      <div class="col-lg-6 foto3"  >
        <span class="badge badge-danger">900 EUR/Week</span>

        <br> <br><br> <br><br> <br><br> <br>
        <h3>Switzerland - Matterhorn </h3>

        <p><a class ="btn btn-default"  href="https://www.codefactory.wien/courses-programs/"   role="button">View details &raquo;</ a ></p>

      </div>

      <!-- /.col-lg-4 -->

      <div class="col-lg-6 foto4"  >

        <span class="badge badge-danger">200 EUR/Week</span>

        <br> <br><br> <br><br> <br><br> <br>
        <h3>Slovakia</h3>

        <p><a class ="btn btn-default"  href="https://www.codefactory.wien/courses-programs/"   role="button">View details &raquo;</ a ></p>

      </div>

    </div>

    <!-- /.row -->

    </div>