/* You can add global styles to this file, and also import other style files */
.jumbotron {

    background: url('https://cdn.pixabay.com/photo/2018/07/15/10/44/dna-3539309_960_720.jpg' )  no-repeat center center;

            color: white;

            background-size: cover;

   }

.foto1{
    background:url('assets/img/man.jpg') no-repeat center ;  
    /* background-image: url(../src/assets/img/landscape.jpg) no-repeat; */
    /* background-color: yellow; //doesnt work  */
    color: white;

    height: 300pt;
    

}

.foto2{
    background:url('assets/img/snow.jpg') no-repeat center;  
    /* background-image: url(../src/assets/img/landscape.jpg) no-repeat; */
    /* background-color: yellow; //doesnt work  */
    color: white;
}
.foto3{
    background:url('assets/img/person.jpg') no-repeat center center;  
    /* background-image: url(../src/assets/img/landscape.jpg) no-repeat; */
    /* background-color: yellow; //doesnt work  */
    color: white;
}
.foto4{
    background:url('assets/img/mountain.jpg') no-repeat center center;  
    /* background-image: url(../src/assets/img/landscape.jpg) no-repeat; */
    /* background-color: yellow; //doesnt work  */
    color: white;
}

.winter{
    background-color: lightblue;
}

.summer{
    background:url('assets/img/landscape.jpg') no-repeat center center;  
    /* background-image: url(/src/assets/img/people.png);  */
    /* // background-color: yellowgreen;  */
}

/* body{
    background-color: grey;
} */